@use "@global/scss/reset";
@use "@global/scss/utils";

@use "@global/scss/common";
@use "@global/scss/age-icon";
@use "@global/scss/buttons";

:root {
  // // Colors
  // --color-primary: var(--brand-color-primary, #000);
  // --color-secondary: var(--brand-color-secondary, #ede734);
  // --color-accent: var(--brand-color-accent, #e32b2b);

  // Text Body
  --font-size: 16px;

  // Text Heading
  --font-heading-size: 16px;

  // BG
  // --color-bg-global: #fff;
  // --bg-image-url: url("./img/bg.jpg");

  // Paddings
  // --global-v-padding: 12px;
  // --global-h-padding: 16px;
}

body {
  display: flex;

  color: var(--color-text-neutral);

  --global-padding: 16px;

  > .layout {
    display: grid;
    grid-template-rows: min-content 1fr min-content;

    padding: var(--global-padding);
    gap: var(--global-padding);

    background-image: var(--bg-image-url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    container-type: size;

    & > * {
      z-index: 5;
    }

    &.overlay {
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        inset: 0;
        background-image: linear-gradient(to bottom var(--gradient-prim-sec));
        mix-blend-mode: var(--bg-overlay-mode, multiply);
      }
    }

    main {
      text-align: center;
      // padding: 1em;

      container-type: size;

      display: grid;
      // place-items: center;
    }

    footer {
      display: grid;
      place-items: center;
      gap: var(--global-padding);

      .legal-block {
        position: absolute;
        inset: 0;
        padding: var(--global-padding);
        background-color: var(--color-primary);
        color: var(--color-on-primary);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;

        gap: 1em;
      }
    }
  }
}

#animation_container {
  background-color: #001130;
}

.brand-logo {
  & > img {
    max-width: 50%;
    max-height: 100%;
    margin: auto;
  }
}

.feed-item,
.message {
  grid-area: 1 / 1 / -1 / -1;
}

.feed-item {
  display: grid;
  gap: 0.5em;
  grid-template-rows: minmax(0, 1fr) auto minmax(0, 1fr);
  max-height: 100cqh;
  align-items: center;
}

.team {
  position: relative;
}

.team-name {

  background-color: var(--color-primary);
  color: var(--color-on-primary);
  font-size: 28px;
  padding: 0.5em;
  border-radius: var(--global-padding);

  h2 {
    font-size: inherit;
    line-height: 1.1;
    height: calc(28px * 1.1 * 2);
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    z-index: 2;

    .team1 & {
      text-align: left;
      justify-content: flex-start;
    }

    .team2 & {
      text-align: right;
      justify-content: flex-end;
    }

  }

  .team1 & {
    padding-left: 30%;
  }

  .team2 & {
    padding-right: 30%;
  }
}

.team-logo {
  filter: drop-shadow(0px 2px 8px var(--color-primary-20));

  position: absolute;

  top: 50%;

  .team1 & {
    left: 15%;
    translate: -50% -50%;
  }

  .team2 & {
    right: 15%;
    translate: 50% -50%;
  }

  img {
    max-height: 64px;
    max-width: unset;
    object-fit: contain;
  }

  overflow: hidden;
  will-change: transform;
}

.data {
  place-self: center;
  display: flex;
  flex-direction: column-reverse;
  color: var(--color-on-primary);
}

.odds {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;

	span {
    font-size: 16px;
		display: flex;
		align-items: center;
		padding: 3px 8px;
		border-width: .5px;
		border-style: solid;
		border-radius: 4px;
		font-weight: 900;
		justify-content: center;

		&.home,
		&.away {
			background: linear-gradient(180deg, rgba(21, 85, 190, 0.3) 0%, rgba(21, 63, 190, 0.3) 100%);
			border-color: #0C67FE;
		}
		&.draw {
			background: linear-gradient(180deg, rgba(152, 171, 203, 0.3) 0%, rgba(116, 127, 159, 0.3) 100%);
			border-color: #BCD5FF;
		}
	}
}

.date-time {
	margin-top: 12px;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	// flex-direction: column;
	align-items: center;
  justify-content: center;
	gap: 6px;

	.time {
		padding: 0 6px;
		border-left: 1px solid var(--color-primary);
		border-right: 1px solid var(--color-primary);
	}
}

.message {
  position: relative;
  z-index: 4;
  background: rgba(21, 85, 190, 0.2);
  padding: 10px;
  border-radius: 10px;
  display: grid;
  place-content: center;
  align-self: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);

  i {
    font-style: normal;
    color: var(--color-primary);
    font-weight: 900;
    display: block;
  }

  br {
    display: none;
  }
}

.rte.heading {
  font-size: 32px;
  line-height: 1.4;
  text-wrap: balance;
  text-transform: initial;
  font-weight: 600;
}

.btn-wrapper {
	padding: 16px 32px;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
}

.cta-btn {
	min-height: 24px;
	background: var(--color-secondary);
	padding: 12px 32px;
	min-width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #01001C;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2;
	border-radius: 5px;
	border: 1px solid var(--color-secondary-90);
  box-shadow: initial;
	text-transform: initial;
  outline: initial;
  margin: 0;
}
.coins {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}
.coin {
  position: absolute;
  z-index: 1;
  opacity: 0;
  will-change: opacity, transform;

  &:nth-child(1) {
    top: 41px;
    left: 24px;
    transform: translateY(-250px);
  }
  &:nth-child(2) {
    top: 49px;
    right: 18px;
    transform: translateY(-250px);
  }
  &:nth-child(3) {
    top: 298px;
    left: 62px;
    transform: translateY(-260px);
  }
  &:nth-child(4) {
    top: 320px;
    right: 91px;
    transform: translateY(-260px);
  }
}