@use "sass:math";

@use "@global/scss/reset";
@use "@global/scss/utils";

$color-names: primary, secondary, accent, neutral;
$color-shades: 10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 98;

:root {
  --ad-width: 800px;
  --ad-height: 640px;

  // Paddings
  --global-v-padding: 12px;
  --global-h-padding: 16px;
}

body {
  // font-family: var(--font-family);
  // font-style: normal;
  // font-size: var(--font-size);
  // font-weight: var(--font-weight);
  // letter-spacing: 0.02em;
  // font-feature-settings:
  //   "pnum" on,
  //   "lnum" on;
  background-color: var(--color-primary-10); //#363738;

  display: grid;
  place-content: center;

  // text-rendering: geometricPrecision;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // font-smooth: always;

  // touch-action: none;
}

/* Local color vars definition
**********************************/

#animation_container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: stretch;
  overflow: hidden;
  padding: 10px;

  background: #fff;
  color: var(--color-text-primary);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: inherit;

    background: #fff; //linear-gradient(to bottom, var(--color-primary), var(--color-secondary));

    html:not(.still) & {
      transition:
        opacity 0.5s ease-in,
        visibility 0s linear 0.5s;
    }

    .ready & {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.brand-colors {
  display: flex;
  column-gap: 10px;

  div {
    flex: 1;
    border-radius: 3px;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    font-weight: bold;

    @each $color-name in $color-names {
      &.#{$color-name} {
        $i: 1;
        background-color: var(--color-#{$color-name});
        color: var(--color-on-#{$color-name});
      }
    }
  }
}

.generated-colors {
  display: flex;
  column-gap: 10px;
  padding-top: 10px;

  div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // row-gap: 5px;

    div {
      padding: 0.75em 0;
      // border-radius: 3px;
      text-align: center;
    }

    @each $color-name in $color-names {
      &.#{$color-name} {
        $i: 1;
        @each $shade in $color-shades {
          div:nth-child(#{$i}) {
            background-color: var(--color-#{$color-name}-#{$shade});
            color: var(--color-on-#{$color-name}-#{$shade});
          }
          $i: $i + 1;
        }
      }
    }
  }
}

.gradients {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 10px;

  div {
    border-radius: 2px;
    height: 1em;
  }

  div:nth-child(1) {
    background: linear-gradient(to right var(--gradient-prim-sec));
  }
  div:nth-child(2) {
    background: linear-gradient(to right var(--gradient-prim-acc));
  }
  div:nth-child(3) {
    background: linear-gradient(to right var(--gradient-sec-acc));
  }
}
